# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
*.DS_Store
Thumbs.db

# Datasets (optional, if large)
data/
*.csv
*.zip
*.tar
*.gz
